spring:
  jpa:
    hibernate:
      ddl-auto: update # This forces table creation
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.fintech: DEBUG
    org.hibernate.SQL: DEBUG